.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.flex-img-col {
  flex: 1 1 calc(50% - 40px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.flex-img-col img {
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  border: 20px solid var(--off-white);
  border-radius: 40px;
}