:root {
  --font-header: Urbanist, sans-serif;
  --font-header-2: "Courier New", Courier, monospace;
  /* --font-body: inter, sans-serif; */
  --font-body: "Courier New", Courier, monospace;


  --off-white: #efeeee;
  --green-light: #799184;
  --green-dark: #586e70;
  --purple-light: #a3a3c7;
  --purple-dark: #78789c;
  --gray-dark: #454545;
  --gray-light: #d6d6d6;


  --shadow-color-light: rgb(255, 255, 255, 0.9);
  --shadow-color-dark: rgb(209, 205, 199, 0.5);
  --shadow-color-glow: rgb(255, 255, 255, 0.35);
  --shadow-color-darker: rgba(189, 185, 179, 0.8);
  --shadow-color-green: #7fc1c7ee;
}

body {
  background-color: var(--off-white);
  color: var(--gray-dark);
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 1.6;

}
main {
  margin-top: -1px;
  padding: 40px 10%;
}

section {
  padding: 100px 0;
}

/* TEXT ------------------------------------------------------------ */

h1,
h2 {
  font-family: var(--font-header);
  text-transform: uppercase;
  line-height: 1;
}

h1 {
  font-size: 52px;
  color: var(--purple-dark);
  letter-spacing: 4px;
  font-weight: 600;
}

h2 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 500;
}

h3 {
  font-family: var(--font-header-2);
  font-size: 16px;
  font-weight: bold;

}

p {
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

/* UTILITIES ----------------------------------------------------- */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.apart {
  justify-content: space-between;
  align-items: space-between;
}

.start {
  justify-content: flex-start;
  align-items: flex-start;
}

.spacer {
  height: 32px;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* SHADOWS--------------------------------------------------------- */

/* dimensional shadow for transparent png's */
.shadow-hug {
  filter: drop-shadow(0.5px 0 0 var(--shadow-color-glow))
    drop-shadow(0 0.5px 0 var(--shadow-color-glow))
    drop-shadow(-0.5px 0 0 var(--shadow-color-glow))
    drop-shadow(0 -0.5px 0 var(--shadow-color-glow))
    drop-shadow(6px 6px 6px var(--shadow-color-dark))
    drop-shadow(-6px -6px 6px var(--shadow-color-light));
}

/* dimensional shadow for boxes */
.shadow-box {
  border: 0.5px solid var(--shadow-color-glow);
  box-shadow:
    4px 4px 16px var(--shadow-color-dark),
    -5px -5px 12px var(--shadow-color-light);
}

.shadow-box-top {
  box-shadow:
    12px 0px 6px -6px var(--shadow-color-dark),
    -4px -4px 10px -2px var(--shadow-color-light);
  border: 0.5px solid var(--shadow-color-glow);
  border-bottom: none;
}

.shadow-top-line-green {
  box-shadow: 0px -2px 3px var(--shadow-color-green);
  border-top: 1px solid var(--off-white);
}

.shadow-top-line {
  box-shadow:
    0px -3px 3px var(--shadow-color-light),
    0px -1px 2px var(--shadow-color-glow);
  border-top: 2px solid var(--off-white);
}

/* dimensional shadow for text */
.shadow-text {
  text-shadow:
    2px 2px 4px var(--shadow-color-darker),
    -2px -2px 2px var(--shadow-color-light);
  -webkit-text-stroke: 0.4px var(--shadow-color-glow);
}

.shadow-text-negative {
  background-color: var(--off-white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow:
    1px 1px 2px var(--shadow-color-light),
    -1px -1px 4px var(--shadow-color-darker);
  -webkit-text-stroke: 0.4px var(--shadow-color-glow);
}

