:root {
  --font-header: Urbanist;
  --font-header-2: "Courier New", Courier, monospace;

  --off-white: #efeeee;
  --green-light: #799184;
  --green-dark: #586e70;
  --purple-light: #a3a3c7;
  --purple-dark: #78789c;
  --gray: #3e3e3e;

  --shadow-color-light: rgb(255, 255, 255, 0.9);
  --shadow-color-dark: rgb(209, 205, 199, 0.5);
  --shadow-color-glow: rgb(255, 255, 255, 0.35);
  --shadow-color-darker: rgba(189, 185, 179, 0.8);
  --shadow-color-green: #7fc1c7ee;
}

body {
  background-color: var(--off-white);
  color: var(--gray);
}
main {
  margin-top: -1px;
}

section {
  padding: 110px 10%;
}

/* TEXT ------------------------------------------------------------ */

h1,
h2 {
  font-family: var(--font-header);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
}

h1 {
  font-size: 52px;
  color: var(--purple-dark);
}

h2 {
  font-size: 40px;
}

h3 {
  font-family: var(--font-header-2);
  font-size: 14px;
}

p {
  font-family: inter;
  font-size: 15px;
  line-height: 1.6;
  margin: 14px 0 0;
}

/* UTILITIES ----------------------------------------------------- */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.apart {
  justify-content: space-between;
  align-items: space-between;
}

.start {
  justify-content: flex-start;
  align-items: flex-start;
}

.spacer {
  height: 32px;
}

/* SHADOWS--------------------------------------------------------- */

/* dimensional shadow for transparent png's */
.shadow-hug {
  filter: drop-shadow(0.5px 0 0 var(--shadow-color-glow))
    drop-shadow(0 0.5px 0 var(--shadow-color-glow))
    drop-shadow(-0.5px 0 0 var(--shadow-color-glow))
    drop-shadow(0 -0.5px 0 var(--shadow-color-glow))
    drop-shadow(6px 6px 6px var(--shadow-color-dark))
    drop-shadow(-6px -6px 6px var(--shadow-color-light));
}

/* dimensional shadow for boxes */
.shadow-box {
  border: 0.5px solid var(--shadow-color-glow);
  box-shadow:
    6px 6px 16px var(--shadow-color-dark),
    -6px -6px 16px var(--shadow-color-light);
}

.shadow-box-top {
  box-shadow:
    12px 0px 6px -6px var(--shadow-color-dark),
    -4px -4px 10px -2px var(--shadow-color-light);
  border: 0.5px solid var(--shadow-color-glow);
  border-bottom: none;
}

.shadow-top-line-green {
  box-shadow: 0px -2px 3px var(--shadow-color-green);
  border-top: 1px solid var(--off-white);
}

.shadow-top-line {
  box-shadow:
    0px -3px 3px var(--shadow-color-light),
    0px -1px 2px var(--shadow-color-glow);
  border-top: 2px solid var(--off-white);
}

/* dimensional shadow for text */
.shadow-text {
  text-shadow:
    2px 2px 4px var(--shadow-color-darker),
    -2px -2px 2px var(--shadow-color-light);
  -webkit-text-stroke: 0.4px var(--shadow-color-glow);
}

.shadow-text-negative {
  background-color: var(--off-white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow:
    1px 1px 2px var(--shadow-color-light),
    -1px -1px 4px var(--shadow-color-darker);
  -webkit-text-stroke: 0.4px var(--shadow-color-glow);
}
