:root {
  --off-white: #efeeee;
  --green-light: #799184;
  --green-dark: #586e70;
  --purple-light: #a3a3c7;
  --purple-dark: #78789c;

  --shadow-color-light: rgb(255, 255, 255, 0.8);
  --shadow-color-dark: rgb(209, 205, 199, 0.5);
  --shadow-color-glow: rgb(255, 255, 255, 0.35);
  --shadow-color-darker: rgba(189, 185, 179, 0.8);

  background-color: var(--off-white);
}

.shadow-hug {
  filter: drop-shadow(0.5px 0 0 var(--shadow-color-glow))
    drop-shadow(0 0.5px 0 var(--shadow-color-glow))
    drop-shadow(-0.5px 0 0 var(--shadow-color-glow))
    drop-shadow(0 -0.5px 0 var(--shadow-color-glow))
    drop-shadow(6px 6px 8px var(--shadow-color-darker))
    drop-shadow(-6px -6px 8px var(--shadow-color-light));
}

.shadow-box {
  width: 200px;
  height: 150px;

  border: 0.5px solid var(--shadow-color-glow);
  box-shadow:
    6px 6px 16px var(--shadow-color-dark),
    -6px -6px 8px var(--shadow-color-light);
}
